body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    font-family: Roboto, sans-serif;
}
.hero{
    background-color: #1F2937;
    display: flex;
    flex-flow: column;
}

.navlist{
    padding: 16px;
    display: flex;
    gap: 16px;
}

.navlist img{
    width: 80px;
}

.otherlinks{
    margin-left: auto;
    display: flex;
    gap: 16px;
    justify-items: center;
}

.other{
    display: flex;
    gap: 16px;
}
.mainimg{width: 50%;}
.one{
    font-size: 48px;
    color: #F9FAF8;}

.two, .three{
    font-size: 18px;
    color: #E5E7EB;
}


a{
    color: white;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer{
    margin-top: auto;
    color: blue;
    background-color: #1F2937;
}
