body{
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    padding-bottom: 4em;
    gap: 3rem;
}

.herocontainer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}


.navlist{
    display: flex;
}

.navlist > li{
    margin-left: 0.75em;
}

.navlist img{
    width: 80px;
}
.navlist :nth-child(2){
    margin-left: auto;
}

.hother{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.mainimg{
    object-fit: cover;
    flex: 1;
    width: 48%;
    min-width: 450px;
    border-radius: 6px;
    height: auto;}

@media all and (max-width: 800px) {
    .mainimg{order: 1;
    flex: 1;}
    .left{order: 2;
    flex: 1;
    }
    .hother{flex-wrap: wrap;
    }
    .one{text-align:center;}
    .three{align-self: center;}
}

.left{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.one{
    font-size: 48px;
    color: #F9FAF8;}

.two, .otherlinks{
    font-size: 18px;
    color: #E5E7EB;
}

.three, .ctabutton{
  background: #3882F6;
  border: white;
  color: white;
  width: 200px;
  padding: 16px 8px;
  border-radius: 8px;
  font-size: medium;
  font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}
.umiddle{
    display: flex;
    gap: 24px;
    padding: 24px;
    flex-direction: column;
}
.infoheader{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.umiddle2{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
}
.umiddle2 >*{
    width: 250px;
    height: auto;
    text-align: center;
}

.card1, .card2, .card3, .card4{
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.umiddle2 div img{
    width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.lmiddle{
    background-color: #E5E7EB;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qtcontainer{
    max-width: 1000px;
    background-color: #E5E7EB;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.bywho{
    text-align: right;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #1F2937;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.ctacontainer{
    background-color: #3882F6;
    padding: 3rem 5rem;
    border-radius: 8px;
    display: flex;
    color: white;
    gap: 5rem;
}
.ctaleft{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.ctatitle{
    font-size: 24px;
}

.ctatext{
    font-size: 18px;
    color: #E5E7EB;
}

.ctabutton{
    justify-self: center;
    align-self: center;
    border: white 1px solid;
}

footer{
    color: white;
    border: #3882F6;
    margin-top: auto;
    background-color: #1F2937;
    text-align: center;
}
