body{
    display: flex;
    flex-flow: column;
}
.hero{
    background-color: #1F2937;
    display: flex;
    flex-flow: column;
}

nav{
    padding: 16px;
}

nav ul li img{
    width: 100px;
    height: auto;
}



nav ul :nth-child(1){
    margin-left: 20px;
}
nav ul :nth-child(2){
    margin-left: auto;
}
li{
    color: rgb(248, 3, 3);
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a{
    color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
}

.right img{
    width: 400px;
    height: auto;
}

.footer{
    margin-top: auto;
    color: blue;
    background-color: #1F2937;
}

.other{
    display: flex;
}
